# Python
__pycache__/
*.py[cod]
*.so
.Python
build/
dist/
.eggs/
*.egg-info/

# Jupyter
.ipynb_checkpoints

# Virtual environments
venv/
.env/
.venv/

# macOS
.DS_Store

# VS Code
.vscode/

# Secrets
.env
